<div>
    <app-modal-archive-chart #modalArchiveChart></app-modal-archive-chart>
    <form #controlForm="ngForm">
        <div class="form-row">
            <div class="col-auto" style="margin-right: 1em">
                <app-sync-button [config]="buttonConfigRefreshNow"></app-sync-button>
            </div>

            <div *ngIf="configSelection && !configSelection.disabled" class="col-auto">
                <select class="form-control-sm"
                    app-validator [element]="configSelection.validator" [(ngModel)]="configSelection.validator.value" name="{{configSelection.id}}" >
                    <option *ngIf="configSelection.firstLine" value="{{configSelection.firstLine}}">{{configSelection.firstLine}}</option>    
                    <option *ngFor="let opt of configSelection.options" value="{{opt}}" [selected]="opt===configSelection.value">{{opt}}</option>
                </select>
                <button class="btn-sm btn-primary" type="button" (click)="onConfigMenu()" style="margin-left: 0.3em; margin-right: 1em">
                        <fa-icon [icon]="'bars'"></fa-icon>
                </button>
            </div>
    

            <div *ngFor="let cfg of showInputs" class="col-auto">
                <select *ngIf="!cfg.disabled" class="form-control-sm"
                        app-validator [element]="cfg.validator" [(ngModel)]="cfg.validator.value" name="{{cfg.id}}" >
                    <option *ngIf="cfg.firstLine" value="{{cfg.firstLine}}">{{cfg.firstLine}}</option>    
                    <option *ngFor="let opt of cfg.options" value="{{opt}}" [selected]="opt===cfg.value">{{opt}}</option>
                </select>
            </div>
        </div>
    </form>

    <canvas *ngIf="chart" baseChart
        [datasets]="chart.datasets"
        [labels]="chart.labels"
        [options]="chart.options"
        [legend]="chart.legend"
        [colors]="chart.colors"
        (chartHover)="hovered(chart)"
        (chartClick)="clicked(chart)">
    </canvas>
    
    <form #controlForm="ngForm" style="margin-top: 1em">
        <div class="form-row">
            <div class="col-auto">
                <app-sync-button [config]="buttonConfigXDayBack">+</app-sync-button>
            </div>
            <div class="col-auto">
                <app-sync-button [config]="buttonConfigXPageLeft">+</app-sync-button>
            </div>
            <div class="col-auto">
                <app-sync-button [config]="buttonConfigXLeft">+</app-sync-button>
            </div>
            <div class="col-auto">
                <app-sync-button [config]="buttonConfigXZoomIn">+</app-sync-button>
            </div>
            <div class="col-auto">
                <app-sync-button [config]="buttonConfigXZoomOut">-</app-sync-button>
            </div>
            <div class="col-auto">
                <app-sync-button [config]="buttonConfigXRight">+</app-sync-button>
            </div>
            <div class="col-auto">
                <app-sync-button [config]="buttonConfigXPageRight">+</app-sync-button>
            </div>
            <div class="col-auto">
                <app-sync-button [config]="buttonConfigXDayNext">+</app-sync-button>
            </div>
            <div class="col-auto">
                <div class="form-check" style="margin-left: 1em; margin-top: 0.2em">
                    <input #yauto class="form-check-input" type="checkbox" checked id="yautocheck">
                    <label class="form-check-label" for="yautocheck">Y Auto</label>
                </div>
            </div>
        </div>
    </form>

</div>