  <div class="container">
        <!-- <form (ngSubmit)="onSubmit()" #controlForm="ngForm"> -->
        <form #controlForm="ngForm">
            <!-- <fieldset disabled>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Aktueller Modus</label>
                    <div class="col-sm-8">
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="{{currentMode}}">
                    </div>
                </div>
            </fieldset> -->
            <div class="form-group row">
                <label for="idModeInput" class="col-sm-4 col-form-label">Modus</label>
                <div class="col-sm-8">
                    <select class="custom-select" id="inlineFormCustomSelect"
                            app-validator [element]="validatorMode" [(ngModel)]="validatorMode.value" name="mode">
                        <option value='off' selected>OFF</option>
                        <option value="power">Power</option>
                        <option value="smart">Smart</option>
                    </select>
                </div>
            </div>
            <div *ngFor="let inp of inputs" class="form-group row" [hidden]='inp.hidden'>
                    <label class="col-sm-4 col-form-label" for="{{inp.id}}">{{inp.key}}</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="{{inp.type}}" min="{{inp.min}}" max="{{inp.max}}" id="{{inp.id}}" required 
                               app-validator [element]="inp.validator" [(ngModel)]="inp.validator.value" name="{{inp.name}}" pattern="{{inp.pattern}}" >
                               
                    </div>
            </div>
            <div class="form-group row">
                <!-- <button type="submit" class="btn btn-primary" [disabled]="!controlForm.form.valid">Senden</button> -->
                <app-sync-button [config]="buttonConfig">Senden</app-sync-button>
            </div>
        </form>
     </div>
     