<div style="margin-top: 4.5em" class="container">
    <ngb-alert *ngIf="showWarning" [dismissible]="false">
        <strong>Warning!</strong> Check Console!
    </ngb-alert>
    <ngb-accordion #acc="ngbAccordion" *ngIf="accordion" [closeOthers]="true" activeIds="{{accordion.activeIds}}" (panelChange)="onAccordionChange($event)">
            <ngb-panel *ngFor="let p of accordion.panels" id="{{p.id}}" type="{{p.type}}">
                <ng-template ngbPanelTitle>
                    <span *ngIf="!acc.isExpanded(p.id)" style="color: black;">
                        <i class="fa fa-chevron-right pull-left" style="margin:0.25rem 0.75rem 0 0"></i>
                        {{p.title}}
                    </span>
                    <span *ngIf="acc.isExpanded(p.id)" style="color: black; font-weight: bold;">
                        <i class="fa fa-chevron-down pull-left" style="margin:0.25rem 0.75rem 0 0"></i>
                        {{p.title}}
                    </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    <p *ngIf="p.infos.length === 0 && !p.table && !p.showComponent">Keine Daten vorhanden!</p>

                    <div *ngIf="p.showComponent">
                        <!-- <div *ngFor="let c of p.showComponent">
                            <div *ngIf="c.name === 'XXXComponent'" style="margin-bottom: 1rem">
                                <app-xxx style="display:block" [config]="c.config" [data]="c.data">
                                </app-xxx>
                            </div>
                        </div> -->
                    </div>

                    <div *ngFor="let i of p.infos | filterPipe:p.filter?.filter" class="input-group" style="margin-bottom: 0.5rem">
                        <span class="input-group-addon form-control-sm" [ngStyle]="{'min-width':i.width}">
                            <strong>{{i.key}}</strong>
                        </span>
                        <input type="text" class="form-control form-control-sm" readonly value="{{i.value}}">
                    </div>
            
                </ng-template>
            </ngb-panel>
    </ngb-accordion>
</div>        
 