<div style="margin-top: 4.0em" class="container">
    <div style="zoom:1.00; transform: scale(1.00)">
        <div style="padding-bottom: 0.25em; margin-bottom: 0.25em; border-bottom: solid 2px black" *ngFor="let block of show">
            <span *ngFor="let data of block.values">
                <b> {{data.key}}</b> 
                <span *ngFor="let v of data.values, let i = index" style="margin-left: 0.2em">
                    <span *ngIf="i > 0" style="margin-right: 0.2em">/</span>
                    <span [ngClass]="v.classes">
                        {{v.value}}
                    </span>
                </span>
                <br/>
            </span>
        </div>
    </div>
